@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

$darkColor: #d8d8d8;
$titleColor: #1e1e1e;
$altTitleColor: #162447;
$lightColor: #ddddf7;
$altColor: #85586f;
$color2: #3e3c61;
$color3: #2f2d52;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.formContainer {
  background-color: $darkColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #1e1e1e;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: white;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: white;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        background-color: #3c3c3c;
        padding: 15px;
        border: none;
        border-bottom: 1px solid $darkColor;
        width: 250px;
        color: white;
        &::placeholder {
          color: white;
        }
      }

      button {
        background-color: white;
        border-radius: 5px;
        color: #1e1e1e;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: white;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: $darkColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @include tablet {
      width: 90%;
      flex-direction: column;
    }
    .sidebar {
      flex: 1;
      background-color: #1e1e1e;
      position: relative;
      @include tablet {
        flex: 0.5;
      }
      .navbar {
        display: flex;
        align-items: center;
        background-color: #3c3c3c;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: white;
        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            border-color: $lightColor;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            margin-left: 15px;
            background-color: white;
            border-radius: 5px;
            color: #1e1e1e;
            height: 25px;
            font-size: 12px;
            border: none;
            cursor: pointer;
            @include tablet {
              margin-left: 65vw;
            }
            @include mobile {
              margin-left: 45vw;
            }
          }
        }
      }

      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: white;
            }
          }
        }
      }
    }

    .chats {
      @include tablet {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          height: 1px;
          background-color: transparent;
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 12px;
        color: white;
        cursor: pointer;
        @include tablet {
          flex-direction: column;
        }
        &:hover {
          background-color: #4d4d4d;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          @include tablet {
            width: 40px;
            height: 40px;
          }
        }
        .userChatInfo {
          padding: 0;
          span {
            font-size: 18px;
            font-weight: 500;
            @include tablet {
              font-size: 14px;
            }
          }
          p {
            font-size: 14px;
            color: white;
            @include tablet {
              display: none;
              font-size: 10px;
            }
          }
        }
      }
    }

    .chat {
      flex: 2;
      @include tablet {
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 0px;
          background-color: transparent;
        }
      }
      .chatInfo {
        height: 50px;
        background-color: $titleColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: white;
        @include tablet {
          opacity: 0.9;
        }
      }

      .chatIcons {
        display: flex;
        gap: 10px;
        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: #4d4d4d;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          background-color: transparent;
        }

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;
          .messageInfo {
            display: flex;
            flex-direction: column;
            color: white;
            font-weight: 300;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }
            img {
              border-radius: 10px;
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                background-color: #1e1e1e;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: #3c3c3c;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          background-color: transparent;
          width: 100%;
          border: none;
          outline: none;
          font-size: 18px;
          color: white;
          @include tablet {
            font-size: 14px;
          }
          &::placeholder {
            color: white;
            opacity: 0.2;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            margin-left: 20px;
            border: none;
            padding: 10px 15px;
            color: #1e1e1e;
            border-radius: 10px;
            background-color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
